#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@media (max-width: 785px) {
  .form-container {
    flex-direction: column;
    align-items: stretch;

  }

  .add-card-form input {
    width: 100%;
    margin-bottom: 5px;

  }

  .add-card-button {
    width: 100%;
    margin: 5px 10px 5px 20px;
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.form-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-flow: column wrap;
  margin-bottom: 1rem;

}

.add-card-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.add-card-form input {
  display: flex;
  height: 40px;
  border-radius: 8px;
  border-style: none;
  padding-left: 10px;

}

.add-card-button {
  display: flex;
  align-items: center;
  border-style: none;
  height: 42px;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  margin-left: 10px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease;
}

.add-card-button:hover {
  background-color: #4d4d4d;
  color: rgb(255, 255, 255);
}

.card-list-style {
  display: flex;
  flex-flow: column wrap;
  align-items: center;



  img {
    height: 300px;
    border-radius: 10px;
  }

}

ul {
  margin: 10;
  padding: 0;
  list-style: none;
}



.card-container {
  display: flex;
  flex-flow: column wrap;
  background: #222;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #555;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.reset-deck {
  background-color: red;
  height: 30px;
  margin-bottom: 5px;
  border-style: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;

}

.reset-deck:hover {
  background-color: #4d4d4d;
  ;
  color: rgb(255, 255, 255);

}

.card-action-button {
  height: 30px;
  margin-bottom: 5px;
  border-style: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

.card-action-button:hover {
  background-color: #4d4d4d;
  ;
  color: rgb(255, 255, 255);

}

input:focus,
input:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}